<body>
<app-nav></app-nav>
<div class="text-center">
        <div class="col-lg">
          <img class="rounded-circle" src="assets/mypic.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>BioData</h2>
</div>
<div class="text-center"><ul>
    <h1>Personal Details</h1>
    <li>
          Name : UmaMahesh    
    </li>
    <li>
          Father Name :Venkata Sathya Narayana
    </li>
    <li>
         Gender : Male
    </li>
    <li>
        Date Of Birth :18-07-1993
    </li>
    </ul>
</div>
<div class="text-center"><ul>
    <h1>Education Details</h1>
    <li>
        • Bachelor of Science, M.E.CS , KGRL, Bhimavaram, 7.21 CGPA	    
    </li>
    <li>
        • Board of Intermediate Education (10+2) ,KGRL jr College, Bhimavaram , 50 %
    </li>
    <li>
        • Secondary School Certificate , Z.P.H School, mogallu, 68%
    </li>
    </ul>
</div>
<div class="text-center">
    <ul>
    <h1>Career Objective</h1>
    <p>To secure a challenging position where I can effectively contribute my skills, and innovative ideas to gain knowledge in the work oriented environment.</p>
    </ul>
</div>
<div class="text-center">
    <ul>
    <h1>Technical Skills Summary</h1>
    <li>
         • I have completed “CORPORATE TRAINING in Java, J2EE Technologies” at Sathya 
         Technolgy  Institute, HyderaBad.    
    </li>
    <li>
         • Good Knowledge on Angular.
    </li> 
    <li>
         • Knowledge on Linux Comands,git.
    </li>
    <li>
            • Having good interactions with Atom,Visual Studio Code..
    </li>
    <li>
            • Good interpersonal skills, willing to take challenges and more responsibilities.
    </li>
    <li>
            • Ability to learn new technologies with minimal time period.
    </li>
    </ul>
    </div>
    </div>
    <br>
    <br>
</body>
    