.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
form {
margin-left: 35%;
margin-right: 35%;
margin-top: 5%;
margin-block-start: 5%;
}
.footer{
	margin-block-start: 1em;
	background-color: dimgrey;
	align-content: center;
	position: relative;
}
.pageinfo{
align-content: center;
position: relative;
text-align: center;
}
.my{
	color: rgb(216, 213, 24);
}
body{
	background-color: blueviolet;

}