<app-nav></app-nav>
<body>
    <div class="container-full">
    <form  class="form-group" >
    <h1>Sign Up</h1>
        <input type="text" name="name" class="Name" placeholder="Name">
        <input type="text" name="tele" class="Tele" placeholder="Number Phone">
        <input type="text" name="email" class="Email" placeholder="Email">
        <input type="password" name="password" class="Address" placeholder="password">
        <button type="submit" value="Add" name="submit">Submit</button>
    </form>
</div>
<br>
<br>
<div class="userlogin">
        <label>if ur are User</label> <a [routerLink]="['/login']" routerLinkActive="router-link-active"  >Login</a>
</div>
<br>
<br>
<br>
</body>
